<footer class="page-footer teal darken-1">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Contato</h5>
        <p class="grey-text text-lighten-4">Email para contato</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Conheça </h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="http://www.onebitcode.com">OneBitCode</a></li>
          <li><a class="grey-text text-lighten-3" href="https://github.com/nonatojunior/want_to_help">WantToHelp project in github</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2017 Copyright WantToHelp
    </div>
  </div>
</footer>
